CREATE TABLE recommendations (
    id BIGSERIAL PRIMARY KEY,
    member_id TEXT NOT NULL,
    category TEXT NOT NULL,
    location TEXT NOT NULL,
    description JSONB NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);
